<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- <nav class="navbar navbar-light" style="background-color: #22cf8a;">
    <a class="nav-link" [routerLink]="['login']"> Login</a>
    
    <a class="nav-link" [routerLink]="['welcome']"> welcome</a>
   
    <a class="nav-link"[routerLink]="['users']">Users</a>
   </nav> -->
   
  <router-outlet></router-outlet>
</body>
</html>