<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Welcome Page</title>
  </head>
  <body>
    <div class="container my-5">
      <h1 class="text-center">Welcome to our dangerous site</h1>
      <p class="text-center">
       مرحبا بكم في موقعنا الخطير 
      </p>
    </div>
    <div class="text-center">
            <a class="btn btn-primary" [routerLink]="['/login']" type="button"> Login</a>  
             
          </div>
  </body>
</html>
